/** HOMEPAGE HEADER **/
body.home .entry-content{
	margin-bottom: 10px;
}

.lfr-tagline{
	padding-top: 20px;
  font-size: 21px;
  max-width: 370px;
	line-height: 1.35em;
  color:$lfr-red;
  margin-bottom: 80px;
}

.lfr-logo{
	margin-bottom: 20px;
}

.lfr-logo__image--home {
  width: 400px;
}

.panel-content .entry-header{
	margin-bottom: 30px;
}

.calendar-link{
	font-size: 18px;
	margin-top: 50px;
	display: inline-block;
}

.hp-intro {
  max-width: 60%;
}

/** HOMEPAGE EVENTS LIST **/
.tablepress.events-list{
	border: 1px solid #000;
	max-width: 700px;
}

.tablepress.events-list tbody td{
	border-bottom: 1px solid #000;
}

.tablepress.events-list tbody td.column-1{
	border-right:1px solid #000;
	width: 25%;
}

.calendar-link{
	margin-top:10px;
	display: block;
	font-weight: 600;
	font-size: 17px;
	color: $lfr-red;
}

.calendar-title{color:$lfr-red;}

.calendar-link:hover{
	color:$lfr-red;
}

/** WIDGETS **/
.hp-features{
	margin-top: 40px;
	margin-bottom: 90px;
}

h2.widget-title{
	text-transform: none;
	font-weight: normal;
	letter-spacing: 0.01em;
	font-size: 20px;
	margin-bottom: 10px;
}

.widget {
  padding-bottom: 20px;
}

.footer__links{
	padding-top: 0;
}

.hp-features__item{
	position: relative;
	display: inline-block;
	width: 100%;
	padding-bottom: 65%;
	height: 0;
}

.hp-features__item::after {
  content: '';
  display: block;
  background: $darkergrey;
  position: absolute;
  height: 100%;
  width: 90%;
  top: 25px;
  left: 25px;
}

.hp-features__item img {
  position: absolute;
  z-index: 1;
  max-width: 90%;
}

.hp-features__wrapper{
	display: inline-block;
	width: 32%;
  position: relative;
  margin-right: 2%;
}

.hp-features .hp-features__wrapper:last-of-type{
	margin-right: 0;
}

.hp-features__title{
  color: #ff1919;
  position: absolute;
  top: calc(100% - 10px);
  z-index: 2;
  left: 40px;
  font-size: 19px;
}

.hp-features__image-link .textwidget{
	line-height: 0.7em;
}

.hp-features__image-link:hover a{
	border-bottom: none;
}

.hp-features__image-link:hover img{
	opacity: 1;
}


@media screen and ( max-width: 48em ) {
  .hp-intro {
    max-width: 100%;
  }

  /** HOMEPAGE MENU **/
	.menu-homepage-links h2.widget-title {
    font-size: 23px;
  }

  .menu-homepage-links .menu {
    font-size: 18px;
  }

  .menu-homepage-links .menu-item a {
      font-size: 18px;
  }

  .member-link{top:-20px;}
  body.home .member-link{
    top:30px;
  }

  /** HOMEPAGE NEWS **/
  .sidebar{
    width: 100%;
  }

  /** HOMEPAGE **/
  .panel-content--calendar{
    padding:0 0 20px 0;
  }

  body.home .homepage-sidebar .widget {
    width: 100%;
    padding-right: 0;
    float: none;
    padding-bottom: 0;
  }

  .hp-features__image-link .widget-title {
    bottom: -46px;
  }
}

@media screen and ( max-width: 750px ) {
  .news {
    padding: 0;
  }

  .entry-content .homepage-news-title{
    font-size: 22px;
  }

  .hp-features__wrapper {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 70px;
  }

  .hp-features__item::after {
    width: 100%;
    height: calc(100% + 45px);
    top: 0;
    left: 0;
  }

  .hp-features__item img {
    max-width: 100%;
  }

  .hp-features__title{
    top: calc(100% + 14px);
    left: 15px;
  }

  .menu-homepage-links .menu {
    max-width: 100%;
  }

  body.home hr{
    display: none;
  }

  .panel-content .wrap--home{
		padding-top: 30px;
  }
  
  /** HOMEPAGE **/
	.sidebar__block {
    padding: 15px 0 15px 15px;
    margin-bottom: 30px;
  }

  .entry-content .sidebar__block p{
    font-size: 14px;
  }
  
  .calendar-link, .entry-content .news__link{
    font-size: 15px;
  }
}


